src/main
.vscode/*
src/tests/testCelula
src/tests/testGen
src/tests/Celda
src/tests/testTablero
src/tests/Celda
src/tests/testTablero
src/tests/template.cpp
src/tests/testAdminDeCeldas
src/tests/testJuegoDeLaVida
src/tests/testBMP
*.bmp
EasyBMP_1.06.zip
EasyBMP_1.06/